.site-section
.container
.row.justify-content-center.text-center.mb-5
.col-md-6 data-aos="fade"
h2 New Hot Trend
.row.item
.col-md-6.col-lg-4.mb-5.mb-lg-4 data-aos="fade" data-aos-delay="100"
.unit-3.h-100.bg-white
.d-flex.align-items-center.mb-3.unit-3-heading
.unit-3-icon-wrap.mr-4
svg.unit-3-svg height="68px" width="59px" xmlns="http://www.w3.org/2000/svg"
path d="M29.000,66.000 L1.012,49.750 L1.012,17.250 L29.000,1.000 L56.988,17.250 L56.988,49.750 L29.000,66.000 Z" fill="none" fill-rule="evenodd" stroke-linecap="butt" stroke-linejoin="miter" stroke-width="2px"
span.unit-3-icon.icon.fl-bigmug-line-equalization3
h2.h5
= t('index.menu.fashion_male')
.unit-3-body
p
= t('index.menu.male_intro')
/ .col-md-6.col-lg-4.mb-5.mb-lg-4 data-aos="fade" data-aos-delay="200"
/   .unit-3.h-100.bg-white
/     .d-flex.align-items-center.mb-3.unit-3-heading
/       .unit-3-icon-wrap.mr-4
/         svg.unit-3-svg height="68px" width="59px" xmlns="http://www.w3.org/2000/svg"
/           path d="M29.000,66.000 L1.012,49.750 L1.012,17.250 L29.000,1.000 L56.988,17.250 L56.988,49.750 L29.000,66.000 Z" fill="none" fill-rule="evenodd" stroke-linecap="butt" stroke-linejoin="miter" stroke-width="2px"
/         span.unit-3-icon.icon.fl-bigmug-line-cube29
/       h2.h5 Top Data Centers
/     .unit-3-body
/       p Lorem ipsum dolor sit amet consectetur is a nice adipisicing elita ssumenda a similique perferendis dolorem eos.
/ .col-md-6.col-lg-4.mb-5.mb-lg-4 data-aos="fade" data-aos-delay="300"
/   .unit-3.h-100.bg-white
/     .d-flex.align-items-center.mb-3.unit-3-heading
/       .unit-3-icon-wrap.mr-4
/         svg.unit-3-svg height="68px" width="59px" xmlns="http://www.w3.org/2000/svg"
/           path d="M29.000,66.000 L1.012,49.750 L1.012,17.250 L29.000,1.000 L56.988,17.250 L56.988,49.750 L29.000,66.000 Z" fill="none" fill-rule="evenodd" stroke-linecap="butt" stroke-linejoin="miter" stroke-width="2px"
/         span.unit-3-icon.icon.fl-bigmug-line-airplane86
/       h2.h5 Outstanding Speed
/     .unit-3-body
/       p Lorem ipsum dolor sit amet consectetur is a nice adipisicing elita ssumenda a similique perferendis dolorem eos.
/ .col-md-6.col-lg-4.mb-5.mb-lg-4 data-aos="fade" data-aos-delay="400"
/   .unit-3.h-100.bg-white
/     .d-flex.align-items-center.mb-3.unit-3-heading
/       .unit-3-icon-wrap.mr-4
/         svg.unit-3-svg height="68px" width="59px" xmlns="http://www.w3.org/2000/svg"
/           path d="M29.000,66.000 L1.012,49.750 L1.012,17.250 L29.000,1.000 L56.988,17.250 L56.988,49.750 L29.000,66.000 Z" fill="none" fill-rule="evenodd" stroke-linecap="butt" stroke-linejoin="miter" stroke-width="2px"
/         span.unit-3-icon.icon.fl-bigmug-line-hot67
/       h2.h5 Amazing Uptime
/     .unit-3-body
/       p Lorem ipsum dolor sit amet consectetur is a nice adipisicing elita ssumenda a similique perferendis dolorem eos.
/ .col-md-6.col-lg-4.mb-5.mb-lg-4 data-aos="fade" data-aos-delay="500"
/   .unit-3.h-100.bg-white
/     .d-flex.align-items-center.mb-3.unit-3-heading
/       .unit-3-icon-wrap.mr-4
/         svg.unit-3-svg height="68px" width="59px" xmlns="http://www.w3.org/2000/svg"
/           path d="M29.000,66.000 L1.012,49.750 L1.012,17.250 L29.000,1.000 L56.988,17.250 L56.988,49.750 L29.000,66.000 Z" fill="none" fill-rule="evenodd" stroke-linecap="butt" stroke-linejoin="miter" stroke-width="2px"
/         span.unit-3-icon.icon.fl-bigmug-line-headphones32
/       h2.h5 Best Support
/     .unit-3-body
/       p Lorem ipsum dolor sit amet consectetur is a nice adipisicing elita ssumenda a similique perferendis dolorem eos.
/ .col-md-6.col-lg-4.mb-5.mb-lg-4 data-aos="fade" data-aos-delay="600"
/   .unit-3.h-100.bg-white
/     .d-flex.align-items-center.mb-3.unit-3-heading
/       .unit-3-icon-wrap.mr-4
/         svg.unit-3-svg height="68px" width="59px" xmlns="http://www.w3.org/2000/svg"
/           path d="M29.000,66.000 L1.012,49.750 L1.012,17.250 L29.000,1.000 L56.988,17.250 L56.988,49.750 L29.000,66.000 Z" fill="none" fill-rule="evenodd" stroke-linecap="butt" stroke-linejoin="miter" stroke-width="2px"
/         span.unit-3-icon.icon.fl-bigmug-line-user143
/       h2.h5 Client Reviews
/     .unit-3-body
/       p Lorem ipsum dolor sit amet consectetur is a nice adipisicing elita ssumenda a similique perferendis dolorem eos.
/ .site-section.block-4.bg-light
/   .container
/     .row.justify-content-center.text-center.mb-5
/       .col-md-6 data-aos="fade"
/         h2 Brand
/     .nonloop-block-4.owl-carousel data-aos="fade"
/       .item.col-md-6.mx-auto
/         .block-38.text-center
/           .block-38-img
/             .block-38-header
/               img alt=("Image placeholder") src="/assets/person_1.jpg"
/               h3.block-38-heading Elizabeth Graham
/               p.block-38-subheading Creative Director, XYG Company
/             .block-38-body
/               p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil sit distinctio recusandae doloribus ut fugit officia voluptate soluta.
/       .item.col-md-6.mx-auto
/         .block-38.text-center
/           .block-38-img
/             .block-38-header
/               img alt=("Image placeholder") src="/assets/person_2.jpg"
/               h3.block-38-heading Jennifer Greive
/               p.block-38-subheading Lead Designer, Mig Company
/             .block-38-body
/               p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil sit distinctio recusandae doloribus ut fugit officia voluptate soluta.
/       .item.col-md-6.mx-auto
/         .block-38.text-center
/           .block-38-img
/             .block-38-header
/               img alt=("Image placeholder") src="/assets/person_1.jpg"
/               h3.block-38-heading Elizabeth Graham
/               p.block-38-subheading Creative Director, XYG Company
/             .block-38-body
/               p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil sit distinctio recusandae doloribus ut fugit officia voluptate soluta.
/       .item.col-md-6.mx-auto
/         .block-38.text-center
/           .block-38-img
/             .block-38-header
/               img alt=("Image placeholder") src="/assets/person_2.jpg" /
/               h3.block-38-heading Jennifer Greive
/               p.block-38-subheading Lead Designer, Mig Company
/             .block-38-body
/               p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil sit distinctio recusandae doloribus ut fugit officia voluptate soluta.

.site-section.bg-light
.container
.row.justify-content-center.text-center.mb-5
.col-md-6 data-aos="fade"
h2
= t('index.package.title')
.row.new-item
.col-md-6.col-lg-4.mb-5.mb-lg-0 data-aos="fade" data-aos-delay="100"
.unit-2.text-center.border.py-5.h-100.bg-white
span.icon.fl-bigmug-line-paper122.text-primary
h3.h4.text-black
= t('index.package.content.account_upgrade')
p.mb-4.text-gray-500
= t('index.package.content.plan_upgrade')
p
a.btn.btn-primary.py-2.px-4.rounded-0 href="#"
= t('index.package.content.detail')
.col-md-6.col-lg-4.mb-5.mb-lg-0 data-aos="fade" data-aos-delay="200"
.unit-2.text-center.border.py-5.h-100.bg-white
span.icon.fl-bigmug-line-airplane86.text-primary
h3.h4.text-black
= t('index.package.content.coupon')
p.mb-4.text-gray-500
= t('index.package.content.plan_coupon')
p
a.btn.btn-primary.py-2.px-4.rounded-0 href="#"
= t('index.package.content.detail')
.col-md-6.col-lg-4.mb-5.mb-lg-0 data-aos="fade" data-aos-delay="300"
.unit-2.text-center.border.py-5.h-100.bg-white
span.icon.fl-bigmug-line-hot67.text-primary
h3.h4.text-black
= t('index.package.content.account_premium')
p.mb-4.text-gray-500
= t('index.package.content.plan_premium')
p
a.btn.btn-primary.py-2.px-4.rounded-0 href="#"
= t('index.package.content.detail')

/   - @products.each do |product|
/     .item.col-sm-4
/       / = image_tag(product.image_url, alt: 'Image') if product.image_url?
/       = link_to(image_tag(product.image_url.thumb.url, alt: 'Image'), product.image_url.url, target: '_blank') if product.image_url?
/       h3.title
/         = product.title
/       .price_line
/         span.price
/           = number_to_currency(product.price)
/       = button_to 'Add to cart', line_items_path(:product_id => product), class: 'btn btn-default', remote: true
/       .detail_item
/         = link_to product_path(product), class: 'add-category btn' do
/           span.glyphicon.glyphicon-th-list
/           |  Details

/ .site-blocks-cover.overlay data-aos="fade" data-stellar-background-ratio="0.5" style=("background-image: url(/assets/hero_bg_3.jpg);")
/   .container
/     .row.align-items-center.text-left
/       .col-md-7
/         h1.mb-2 New fashion
/         p.mb-5 We are rated 4.99 / 5.00 (based on 4443 Reviews)
/         p
/           a.btn.btn-primary.py-3.px-5.rounded-0 href="#"  Buy Now