tr
  td.title
    = post.title
  td.content
    = post.content
  td
    = link_to 'Show', post
  td
    = link_to 'Edit', 'javascript:;', class: "update-post"
  td
    = link_to 'Delete', post, method: 'delete', data: {confirm:'Are you sure?'}, remote: true, class: 'destroy-post'
