<% if @post.errors.any? %>
  $("form#new_post div#error_explanation").html('');

  var html = '<h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>';

  html = html + '<ul>';
  <% @post.errors.full_messages.each do |message| %>
    html = html +  '<li><%= message %></li>';
  <% end %>
  html = html + '</ul';

  $("form#new_post div#error_explanation").prepend(html);
<% end %>