a {
  text-decoration:none !important;
  color: darkslategrey;
}
a:hover {
  color: #5cb85c;
}
#error_explanation {
  color: red;
  li {
    list-style-type: none;
  }
}
#new-category {
  display: none;
}

.translate {
  padding: 15px;
  text-align: right;
  a {
    color: #999999;
    padding: 5px;
  }
}
.list-item {
  .item {
    padding: 10px;
  }
}