.wrapper-product {
  width: 80%;
  margin-left: 20%;
  margin-top: 50px;
  .product-container {
    display: flex;
    flex-flow: row wrap;
    .product-item {
      position: relative;
      width: 250px;
      height: 400px;
      margin: 0 0 30px 25px;
      cursor: pointer;
      .item-image {
        max-width: 200px;
        margin: auto;
        height: 320px;
        line-height: 320px;
        padding-bottom: 20px;
        vertical-align: middle;
      }
      .item-title {
        font-size: 16px;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        margin-left: 15px;
      }
      .item-description {
        font-size: 13px;
        margin-left: 15px;
        font-family: "Source Code Pro", Monaco, monospace;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        &:hover {

        }
      }
      .old-price {
        font-size: 12px;
        margin-left: 15px;
        text-decoration: line-through;
        margin-right: 5px;
        font-weight: 300;
        color: #a2a2a2;
      }
      .item-price {
        font-size: 16px;
        margin-right: 5px;
        color: #0b0b0b;
      }
      .item-type {
        float: right;
        margin-right: 20px;
      }
      .item-link {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        a {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .product {
    position: relative;
    width: 100%;
    height: 800px;
    margin-bottom: 25px;
    .product-image {
      position: relative;
      display: inline-block;
      text-align: center;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    .product-detail {
      position: relative;
      margin-right: 50px;
      float: right;
      width: 50%;
      height: 600px;
      padding: 15px;

      .item-title {
        font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
      }

      .item-description {
        font-family: "Roboto Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
        font-size: 18px;
        min-height: 200px;
        max-height: 300px;
      }

      .item-price {
        font-family: "Source Code Pro", Monaco, monospace;
        .old-price {
          font-size: 16px;
          margin-left: 15px;
          text-decoration: line-through;
          margin-right: 5px;
          font-weight: 300;
          color: #a2a2a2;
        }

        .current-price {
          font-size: 20px;
          margin-right: 5px;
          color: #0b0b0b;
        }
      }

      .item-action-back {
        margin: 30px 20px;
      }
      span {
        margin-right: 5px;
      }
    }
  }

}
//.side-right {
//  position: absolute;
//  top: 200px;
//  right: 2%;
//  width: 17%;
//  height: auto;
//  background-color: #32383e;
//}
.side-left {
  position: absolute;
  top: 200px;
  left: 2%;
  width: 17%;
  height: auto;
  background-color: #32383e;
}


//Start - Design for login page
.login-page {
  margin: 40px 0;
  max-width: 400px;
}
//End - Design for login page

.previous {
  margin-bottom: 45px;
  a {
    font-size: 18px;
  }
  &:hover {
    cursor: pointer;
  }
}
.txt3 {
  font-family: Montserrat-Regular;
  font-size: 16px;
  line-height: 1.4;
  color: #999999;
  a {
    font-family: Montserrat-Regular;
    font-size: 16px;
    line-height: 1.4;
  }
}