.page-header
  = link_to categories_path, class: 'btn btn-default' do
    span.glyphicon.glyphicon-list-alt
    |  Back 
  h1
    | Show category
dl.dl-horizontal
  dt
    | Cat:
  dd
    = @category.cat_id
  dt
    | Cat name:
  dd
    = @category.cat_name
  dt
    | Cat content:
  dd
    = @category.cat_content
