//add a record created to table
// Refresh notice
$("#error").empty();

<% if @category.errors.empty? %>
  //add new record to table
  $("<%= escape_javascript(render @category) %>").appendTo("#categories");
    //add message success
  <% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
      <% message =  name.to_s == 'notice' ? 'success' : 'danger' %>
      $("ul.notice").html('<div class="alert alert-dismissible alert-<%= message %>"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><%= content_tag :div, msg, :id => "flash_#{name}" %></div>');
    <% end %>
  <% end %>
<% else %>
  //display new validation messages
  <% @category.errors.full_messages.each do |message| %>
    $("ul#error").append('<li><%= escape_javascript(message)%></li>');
  <% end %>
<% end %>