<% content_for :title do %>
  Add product
<% end %>

<div class="page-header">
  <h1>New Product</h1>
</div>

<%= render 'form', product: @product %>

<%= link_to products_path, class: 'btn btn-default' do %>
  <span class="glyphicon glyphicon-list-alt"></span>
  Back
<% end %>
